@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: transparent !important;
}


.container {
    width: 100%;
    max-width: 1100px !important;
}
.accordion-item {
    background-color: #fff;
    border: 0px solid rgba(0,0,0,.125) !important;
    margin-bottom:30px;
}

.accordion-button {
    font-size:24px;
    font-weight: bold;
}

.accordion-body {
    font-size:20px;
    line-height: 40px;
}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: transparent !important;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 0) !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0) !important;
}